@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.hero-title{
  background: linear-gradient(120deg, #8dddec, #37aa94, #b4b6fa);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0em 0em 0.2em #646cffaa);
}
.logo-rocket{
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: shake 6s ease-in-out infinite;
  transform-origin: center;
  filter: drop-shadow(0em 0em 1em #646cffaa);
  user-select: none;
}
.logo-rocket:hover{
  filter: drop-shadow(0em 0em 2em #37aa94);
  cursor: pointer;
}

@keyframes shake {
  0% { transform:translateY(0px) rotate(0deg); }
  25% { transform:translateY(-20px) rotate(5deg); }
  50% { transform:translateY(-40px) rotate(0deg); }
  75% { transform:translateY(-20px) rotate(-5deg); }
  100% { transform:translateY(0px) rotate(0deg); }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  user-select: none;
  height: 100%;
}
