*{
    padding: 0;
    margin: 0;
    color: white;
}
:root{
    font-family: 'Courier New', Courier, monospace;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;

}
main{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
    flex-direction: column;
}
#stars-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(6, 9, 31);
    overflow: hidden;
    z-index: -10;
}
  
.star {
    position: absolute;
    background-color: rgb(172, 225, 255);
    border-radius: 50%;
    opacity: 0.8;
    animation: float linear infinite;
    z-index: -10;
}
  
@keyframes float {
0% {
    transform: translate(0, 0);
    opacity: 0.5;
}
50% {
    transform: translate(100px, -200px);
    opacity: 1;
}
100% {
    transform: translate(-100px, 200px);
    opacity: 0.5;
}
}
  